In [1]:
# minmax Normalization

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline
plt.style.use('ggplot')

In [3]:
# Uploading imputed data to df from CSV WorkingDataFrame
df = pd.read_csv('OutlierFix2', index_col=0)
df.head()

,C1,C2,C4,C7,T1,T2,T3,T4,T5,S1,S2,S3,C3',C5',C6'
0,122.00,1.0,0.029074,51.345,470.0,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0,1,3.864345,11.111111
1,152.75,0.0,-0.013352,25.936,791.0,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0,0,4.865080,0.000000
2,90.00,1.0,0.020715,7.378,201.0,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0,0,3.369134,0.000000
3,209.00,1.0,0.020023,8.526,328.0,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0,0,3.299697,0.000000
4,80.00,1.0,-0.034895,632.298,572.0,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0,1,3.726269,5.000000

In [4]:
cols = ['C1', 'C2', 'C4', 'C7', 'T1', 'T2', 'T3','T4', 'T5','S1','S2','S3',"C3'", "C5'","C6'"]
from sklearn.preprocessing import MinMaxScaler
minmax = preprocessing.MinMaxScaler()
norm_df = (minmax.fit_transform(df))
norm_df = pd.DataFrame(norm_df, columns=cols)

In [5]:
norm_df.head()

,C1,C2,C4,C7,T1,T2,T3,T4,T5,S1,S2,S3,C3',C5',C6'
0,0.462810,1.0,0.749962,0.001671,0.476728,0.514040,0.523574,0.470468,0.536074,0.450000,0.436937,0.457490,1.0,0.476417,0.629630
1,0.589876,0.0,0.583748,0.000843,0.929478,0.896576,0.887042,0.896130,0.869666,0.514286,1.000000,0.854251,0.0,0.609551,0.000000
2,0.330579,1.0,0.717213,0.000238,0.097320,0.199637,0.216722,0.118126,0.252909,0.442857,0.058559,0.137652,0.0,0.410536,0.000000
3,0.822314,1.0,0.714502,0.000275,0.276446,0.325997,0.343041,0.217923,0.395656,0.578571,0.175676,0.340081,0.0,0.401299,0.000000
4,0.289256,1.0,0.499347,0.020605,0.620592,0.603044,0.596766,0.541752,0.559348,0.485714,0.581081,0.570850,1.0,0.458048,0.283333

In [7]:
# Observing the mean of the norm_df DataFrame 
norm_df.mean()

C1     0.435385
C2     0.863636
C4     0.664819
C7     0.014944
T1     0.452869
T2     0.497371
T3     0.499560
T4     0.440688
T5     0.496160
S1     0.466187
S2     0.391431
S3     0.451453
C3'    0.529326
C5'    0.475036
C6'    0.188629
dtype: float64

In [8]:
# Exporting DataFrame as CSV 
norm_df.to_csv('MMNormDF', ',')