In [29]:
# Adding Ratio Values AFTER MinMax Normalization

In [30]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline
plt.style.use('ggplot')

In [31]:
# Creating DataFrame df from CSV SkewDF2
df = pd.read_csv('SkewDF2', index_col=0)

# Displaying first five results 
df.head()

,C1,C2,C4,C7,T1,T2,T3,T4,T5,S1,S2,S3,C3',C5',C6'
0,0.462810,1.0,0.749962,0.491407,0.476728,0.514040,0.523574,0.470468,0.536074,0.450000,0.436937,0.457490,1.0,0.476417,0.994305
1,0.589876,0.0,0.583748,0.455427,0.929478,0.896576,0.887042,0.896130,0.869666,0.514286,1.000000,0.854251,0.0,0.609551,0.000000
2,0.330579,1.0,0.717213,0.395737,0.097320,0.199637,0.216722,0.118126,0.252909,0.442857,0.058559,0.137652,0.0,0.410536,0.000000
3,0.822314,1.0,0.714502,0.402209,0.276446,0.325997,0.343041,0.217923,0.395656,0.578571,0.175676,0.340081,0.0,0.401299,0.000000
4,0.289256,1.0,0.499347,0.649627,0.620592,0.603044,0.596766,0.541752,0.559348,0.485714,0.581081,0.570850,1.0,0.458048,0.984551

In [32]:
# Using Imputed Data, creating 6 new columns 
# These columns will replace the numerical values of T1-T5 and S1-S3 with ratios 

# Number of Long Sentences / Number of Long Sentences = T4' 
df["T4'"]=df['T4']/df['T1']

# Number of Read Words / Number of Words = T3' 
df["T3'"]=df['T3']/df['T2']

# Number of Long Words / Number of Words = T5'
df["T5'"]=df['T5']/df['T2']

# Number of Positive Words / Number of Words = S1'
df["S1'"]=df['S1']/df['T2']

# Number of Negative Words / Number of Words = S2'
df["S2'"]=df['S2']/df['T2']

# Number of Uncertain Words / Number of Words = S3'
df["S3'"]=df['S3']/df['T2']

# Checking that the new attributes are in the norm_df DataFrame
df.head()

,C1,C2,C4,C7,T1,T2,T3,T4,T5,S1,...,S3,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,0.462810,1.0,0.749962,0.491407,0.476728,0.514040,0.523574,0.470468,0.536074,0.450000,...,0.457490,1.0,0.476417,0.994305,0.986870,1.018548,1.042865,0.875418,0.850006,0.889989
1,0.589876,0.0,0.583748,0.455427,0.929478,0.896576,0.887042,0.896130,0.869666,0.514286,...,0.854251,0.0,0.609551,0.000000,0.964122,0.989366,0.969986,0.573611,1.115354,0.952792
2,0.330579,1.0,0.717213,0.395737,0.097320,0.199637,0.216722,0.118126,0.252909,0.442857,...,0.137652,0.0,0.410536,0.000000,1.213790,1.085577,1.266843,2.218307,0.293325,0.689509
3,0.822314,1.0,0.714502,0.402209,0.276446,0.325997,0.343041,0.217923,0.395656,0.578571,...,0.340081,0.0,0.401299,0.000000,0.788302,1.052282,1.213678,1.774775,0.538887,1.043202
4,0.289256,1.0,0.499347,0.649627,0.620592,0.603044,0.596766,0.541752,0.559348,0.485714,...,0.570850,1.0,0.458048,0.984551,0.872959,0.989590,0.927541,0.805437,0.963580,0.946614

In [33]:
df = df.drop(['T1','T2','T3','T4','T5','S1','S2'], axis=1)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 682 entries, 0 to 681
Data columns (total 14 columns):
C1     682 non-null float64
C2     682 non-null float64
C4     682 non-null float64
C7     682 non-null float64
S3     682 non-null float64
C3'    682 non-null float64
C5'    682 non-null float64
C6'    682 non-null float64
T4'    682 non-null float64
T3'    682 non-null float64
T5'    682 non-null float64
S1'    682 non-null float64
S2'    682 non-null float64
S3'    682 non-null float64
dtypes: float64(14)
memory usage: 79.9 KB

In [35]:
# checking for null values 
print(df.isnull().sum(axis=0).tolist())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [36]:
target = pd.read_csv('Targets2', index_col=0)
target = target.iloc[:, 7:]

In [37]:
df = pd.concat([target, df], axis=1, join_axes=[df.index])

In [38]:
# Exporting DataFrame as CSV named StandDF
df.to_csv('Comp2', ',')