In [1]:
# minmax Normalization

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline
plt.style.use('ggplot')

In [3]:
# Uploading imputed data to df from CSV WorkingDataFrame
df = pd.read_csv('OutlierFix2', index_col=0)
df.head()

,C1,C2,C4,C7,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,122.00,1.0,0.029074,51.345,1,3.864345,11.111111,0.640426,0.959734,0.057285,0.005147,0.009714,0.011540
1,152.75,0.0,-0.013352,25.936,0,4.865080,0.000000,0.644753,1.625986,0.092985,0.005895,0.020091,0.019676
2,90.00,1.0,0.020715,7.378,0,3.369134,0.000000,0.636816,0.397260,0.026982,0.005064,0.002740,0.004981
3,209.00,1.0,0.020023,8.526,0,3.299697,0.000000,0.539634,0.628809,0.042258,0.006642,0.004898,0.009132
4,80.00,1.0,-0.034895,632.298,1,3.726269,5.000000,0.587413,1.093898,0.059776,0.005562,0.012370,0.013865

In [4]:
df.mean()

C1     115.363270
C2       0.863636
C4       0.007342
C7     154.910100
C3'      0.529326
C5'      3.853964
C6'      3.328752
T4'      0.628948
T3'      0.915715
T5'      0.053090
S1'      0.005343
S2'      0.008875
S3'      0.011416
dtype: float64

In [5]:
cols = ['C1', 'C2', 'C4', 'C7', "C3'", "C5'","C6'", "T4'", "T3'", "T5'", "S1'", "S2'", "S3'"]
from sklearn.preprocessing import MinMaxScaler
minmax = preprocessing.MinMaxScaler()
norm_df = (minmax.fit_transform(df))
norm_df = pd.DataFrame(norm_df, columns=cols)

In [6]:
norm_df.head()

,C1,C2,C4,C7,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,0.462810,1.0,0.749962,0.078162,1.0,0.476417,0.629630,0.534453,0.523574,0.466548,0.425373,0.436937,0.457490
1,0.589876,0.0,0.583748,0.039426,0.0,0.609551,0.000000,0.545989,0.887042,0.850134,0.492537,1.000000,0.854251
2,0.330579,1.0,0.717213,0.011135,0.0,0.410536,0.000000,0.524832,0.216722,0.140946,0.417910,0.058559,0.137652
3,0.822314,1.0,0.714502,0.012885,0.0,0.401299,0.000000,0.265799,0.343041,0.305085,0.559701,0.175676,0.340081
4,0.289256,1.0,0.499347,0.963812,1.0,0.458048,0.283333,0.393150,0.596766,0.493310,0.462687,0.581081,0.570850

In [7]:
# Observing the mean of the norm_df DataFrame 
norm_df.mean()

C1     0.435385
C2     0.863636
C4     0.664819
C7     0.236044
C3'    0.529326
C5'    0.475036
C6'    0.188629
T4'    0.503860
T3'    0.499560
T5'    0.421469
S1'    0.442952
S2'    0.391431
S3'    0.451453
dtype: float64

In [8]:
# Exporting DataFrame as CSV 
norm_df.to_csv('MMNormDF', ',')