In [1]:
# Adding Ratio Values AFTER MinMax Normalization

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline
plt.style.use('ggplot')

In [3]:
# Creating DataFrame df from CSV SkewDF2
df = pd.read_csv('SkewDF2', index_col=0)

# Displaying first five results 
df.head()

,I1,I2,I3,Y1,Y2,P_IPO,P_H,P_L,P_1DAY,C1,...,T3,T4,T5,S1,S2,S3,C3',C5',P(mid),C6'
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,0,1,10.0,9.5,8.5,11.8700,122.00,...,11560.0,301.0,690.0,62.0,117.0,139.0,1,3.864345,9.0,1.306758
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,1,0,8.0,10.0,8.0,7.2500,152.75,...,19585.0,510.0,1120.0,71.0,242.0,237.0,0,4.865080,9.0,0.000000
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,1,0,7.0,14.0,12.0,6.7000,90.00,...,4785.0,128.0,325.0,61.0,33.0,60.0,0,3.369134,13.0,0.000000
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,1,1,11.5,16.0,14.0,12.3900,209.00,...,7574.0,177.0,509.0,80.0,59.0,110.0,0,3.299697,15.0,0.000000
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,0,1,21.0,21.0,19.0,20.0875,80.00,...,13176.0,336.0,720.0,67.0,149.0,167.0,1,3.726269,20.0,1.195813

In [4]:
# Using Imputed Data, creating 6 new columns 
# These columns will replace the numerical values of T1-T5 and S1-S3 with ratios 

# Number of Long Sentences / Number of Long Sentences = T4' 
df["T4'"]=df['T4']/df['T1']

# Number of Read Words / Number of Words = T3' 
df["T3'"]=df['T3']/df['T2']

# Number of Long Words / Number of Words = T5'
df["T5'"]=df['T5']/df['T2']

# Number of Positive Words / Number of Words = S1'
df["S1'"]=df['S1']/df['T2']

# Number of Negative Words / Number of Words = S2'
df["S2'"]=df['S2']/df['T2']

# Number of Uncertain Words / Number of Words = S3'
df["S3'"]=df['S3']/df['T2']

# Checking that the new attributes are in the norm_df DataFrame
df.head()

,I1,I2,I3,Y1,Y2,P_IPO,P_H,P_L,P_1DAY,C1,...,C3',C5',P(mid),C6',T4',T3',T5',S1',S2',S3'
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,0,1,10.0,9.5,8.5,11.8700,122.00,...,1,3.864345,9.0,1.306758,0.640426,0.908876,0.054250,0.004875,0.009199,0.010929
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,1,0,8.0,10.0,8.0,7.2500,152.75,...,0,4.865080,9.0,0.000000,0.644753,0.898724,0.051395,0.003258,0.011105,0.010876
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,1,0,7.0,14.0,12.0,6.7000,90.00,...,0,3.369134,13.0,0.000000,0.636816,0.909350,0.061764,0.011593,0.006271,0.011403
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,1,1,11.5,16.0,14.0,12.3900,209.00,...,0,3.299697,15.0,0.000000,0.539634,0.917060,0.061630,0.009686,0.007144,0.013319
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,0,1,21.0,21.0,19.0,20.0875,80.00,...,1,3.726269,20.0,1.195813,0.587413,0.888469,0.048550,0.004518,0.010047,0.011261

In [5]:
df = df.drop(['T1','T2','T3','T4','T5','S1','S2', 'P(mid)'], axis=1)

In [6]:
df.mean()

I3        4871.668622
Y1           0.513196
Y2           0.703812
P_IPO       13.390909
P_H         14.977067
P_L         12.969003
P_1DAY      15.243467
C1         115.363270
C2           0.863636
C3          -0.097471
C4           0.007342
C5           1.956399
C6           1.904716
C7           1.989934
S3         137.508798
C3'          0.529326
C5'          3.853964
C6'          0.472888
T4'          0.629205
T3'          0.920007
T5'          0.054274
S1'          0.005444
S2'          0.008830
S3'          0.011783
dtype: float64

In [9]:
# checking for null values 
print(df.isnull().sum(axis=0).tolist())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]