In [1]:
# Normalization done BEFORE Standardization

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [3]:
df = pd.read_csv('WorkingDataFrame', index_col=0)
df.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,Y1,Y2,C3',C5',P(mid),C6'
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,...,690.0,62.0,117.0,139.0,0,1,1,3.864345,9.0,11.111111
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,...,1120.0,71.0,242.0,237.0,1,0,0,12.028832,9.0,0.000000
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,...,325.0,61.0,33.0,60.0,1,0,0,3.369134,13.0,0.000000
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,...,509.0,80.0,59.0,110.0,1,1,0,3.299697,15.0,0.000000
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,...,720.0,67.0,149.0,167.0,0,1,1,3.726269,20.0,5.000000

In [4]:
df_I = df.iloc[:,:3]
df_I.head()

     I1                                  I2    I3
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834
2  ACAD          ACADIA PHARMACEUTICALS INC  2834
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492

In [5]:
df=df.drop(['I1', 'I2', 'I3'], axis=1)
df.head()

,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,C4,C5,C6,...,T5,S1,S2,S3,Y1,Y2,C3',C5',P(mid),C6'
0,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,0.029074,40962052.0,10600000.0,...,690.0,62.0,117.0,139.0,0,1,1,3.864345,9.0,11.111111
1,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,-0.013352,28869196.0,2400000.0,...,1120.0,71.0,242.0,237.0,1,0,0,12.028832,9.0,0.000000
2,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,0.020715,16845668.0,5000000.0,...,325.0,61.0,33.0,60.0,1,0,0,3.369134,13.0,0.000000
3,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,0.020023,14848637.0,4500000.0,...,509.0,80.0,59.0,110.0,1,1,0,3.299697,15.0,0.000000
4,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,-0.034895,30741716.0,8250000.0,...,720.0,67.0,149.0,167.0,0,1,1,3.726269,20.0,5.000000

In [6]:
def normalize(dataset): 
    df_norm = (df - df.mean()) / (df.max() - df.min())
    return df_norm
df_norm = normalize(df)
df_norm.head()

,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,C4,C5,C6,...,T5,S1,S2,S3,Y1,Y2,C3',C5',P(mid),C6'
0,-0.046771,-0.044253,-0.047690,-0.011825,-0.012687,0.136364,0.000373,0.085143,-0.003843,-0.004210,...,0.001057,-0.020674,-0.003328,-0.006702,-0.513196,0.296188,0.470674,-0.007648,-0.046532,0.058284
1,-0.071161,-0.040549,-0.052452,-0.015810,0.053274,-0.863636,-0.000713,-0.081071,-0.009509,-0.023701,...,0.042894,0.008358,0.131954,0.107651,0.486804,-0.703812,-0.529326,0.074404,-0.046532,-0.052827
2,-0.083356,-0.010920,-0.014357,-0.016285,-0.028094,0.136364,-0.000631,0.052394,-0.015142,-0.017521,...,-0.034456,-0.023900,-0.094237,-0.098884,0.486804,-0.703812,-0.529326,-0.012624,-0.012634,-0.052827
3,-0.028478,0.003895,0.004691,-0.011376,0.029201,0.136364,-0.000560,0.049683,-0.016078,-0.018709,...,-0.016554,0.037390,-0.066098,-0.040541,0.486804,0.296188,-0.529326,-0.013322,0.004315,-0.052827
4,0.087376,0.040932,0.052310,0.026762,-0.032908,0.136364,-0.000349,-0.165472,-0.008631,-0.009796,...,0.003976,-0.004545,0.031304,0.025970,-0.513196,0.296188,0.470674,-0.009035,0.046688,-0.002827

In [7]:
full_df = pd.concat([df_I, df_norm], axis=1, join_axes=[df.index])
full_df.head()

,I1,I2,I3,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,...,T5,S1,S2,S3,Y1,Y2,C3',C5',P(mid),C6'
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,-0.046771,-0.044253,-0.047690,-0.011825,-0.012687,0.136364,0.000373,...,0.001057,-0.020674,-0.003328,-0.006702,-0.513196,0.296188,0.470674,-0.007648,-0.046532,0.058284
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,-0.071161,-0.040549,-0.052452,-0.015810,0.053274,-0.863636,-0.000713,...,0.042894,0.008358,0.131954,0.107651,0.486804,-0.703812,-0.529326,0.074404,-0.046532,-0.052827
2,ACAD,ACADIA PHARMACEUTICALS INC,2834,-0.083356,-0.010920,-0.014357,-0.016285,-0.028094,0.136364,-0.000631,...,-0.034456,-0.023900,-0.094237,-0.098884,0.486804,-0.703812,-0.529326,-0.012624,-0.012634,-0.052827
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834,-0.028478,0.003895,0.004691,-0.011376,0.029201,0.136364,-0.000560,...,-0.016554,0.037390,-0.066098,-0.040541,0.486804,0.296188,-0.529326,-0.013322,0.004315,-0.052827
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492,0.087376,0.040932,0.052310,0.026762,-0.032908,0.136364,-0.000349,...,0.003976,-0.004545,0.031304,0.025970,-0.513196,0.296188,0.470674,-0.009035,0.046688,-0.002827

In [8]:
# Exporting DataFrame as CSV 
full_df.to_csv('NormDF', ',')